<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" disable>Biblioteca</a>
    <button
      class="navbar-toggler"
      (click)="show = !show"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{ show: show }"
      *ngIf="isLogin"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/livros']"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/livros', name, 'movimentacao']"
            >Locação</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/livros', name, 'historico']"
            >Histórico</a
          >
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-success my-2 my-sm-0 pull-right'"
        type="submit"
        *ngIf="isLogin"
        (click)="logout()"
      >
        Logout
      </button>
    </form>
  </nav>
</div>
